/* Define standard variables and values for website */
$width: 420px;
$height: 420px;

.my_eclipse {
    position: fixed;
    background-color: rgba(128, 128, 128, 0.693);
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    z-index: 1000000;
    transform: translate(-50%,-50%);

    .progress {
        position: fixed;
        background-color: #00000000;
        width: $width;
        height: $height;
        top: 70%;
        left: 60%;
        transform: translate(-50%,-50%);
    }
    // .progress i {
    //     font-size: 100px;
    //     color: blue;
    // }
}